* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
body {
  height: 2000px;
}
    header {
        background-color: black;
        margin: 0px;
        padding: 20px;
        width: 100%;     
        position: fixed;  
}
    .img-fundo {
        background-image: url('/img/notebook.jpg');
        background-repeat: no-repeat; /* Evita repetição */
        background-size: cover; /* Ajusta a imagem para cobrir o elemento */
        width: 100%;
        height: 150vh;
    }
nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
}
 .foto-perfil {
        width: 100px;
        height: 100px;
        border-radius: 50%
}
 .nome {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #ffFf;
}
 .links ul {
        display: flex;
        gap: 30px;
        text-align: center;
        list-style: none;
        margin-top: 100px;
        font-size: 20px;
        justify-content: center;
}


