* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
    header {

    background-color: rgb(36, 127, 206);
    margin: 0px;
    padding: 20px;
    width: 100%;       
}

 .foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%
 }
 .links {


}


