* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body {
  height: 2000px;
}

header {
        background-color: rgb(52, 26, 148);
        padding: 10px;
        width: 100%;     
        position: fixed;  
        align-items: center;
}

nav {
        display: flex;
        justify-content: center;
      
}
.foto-perfil {
       margin: 10px;
        width: 200px;
        height: 200px;
        border-radius: 50%
}
.nome {
        color: #ffFf;
        margin: 20px;
}

.links {
        display: flex;
        gap: 30px;
        color: azure;
        align-items: first baseline;
        list-style: none;
        font-size: 20px;
    
}


