* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
    header {
        margin: 0px;
        padding: 20px;
        width: 100%;       
}
    body {
        background-image: url('/img/notebook.jpg');
        background-repeat: no-repeat; /* Evita repetição */
        background-size: cover; /* Ajusta a imagem para cobrir o elemento */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .foto-perfil {
        width: 100px;
        height: 100px;
        border-radius: 50%
}
 .nome {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #ffFf;
}
 .links ul {
        display: flex;
        gap: 30px;
        text-align: center;
        list-style: none;
        margin-top: 100px;
        font-size: 20px;
        justify-content: center;
}


